<html>
  <head>
    <meta content="text/html" http-equiv="content-type">
  </head>
  <body>
    <h2>Credits</h2>
    <p>Toki Pona created by Sonja Lang. All data including words, definitions, and translations are from <a href="https://lipu-linku.github.io/about/">jasima Linku</a> by kala Asi. 
      Data is assembled into dictionaries by Ian C.</p>
    <h2>Copyright</h2>
    <p>Liscensed under:
      <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode">Creative Commons Attribution-ShareAlike 3.0 Unported (CC BY-SA 3.0)</a>
      and
      <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">Creative Commons Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)</a>
  </body>
</html>